{% extends 'base.html' %}
{% block title %}CategoryList{% endblock title%}

{% block content %}
    <main>
        <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for receipt in account_list.all %}
                    <tr>
                        <td>{{ receipt.name }}</td>
                        <td>{{ receipt.number }}</td>
                        <td>{{ account_list.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>

    {% endblock content %}
